@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");
/*

0 - 300px - small Phone
300px - 600px - Phone
600 - 900px - Tablet Portrait
900 - 1200px - Tablet Landscape
[1200 - 1800px] - Default one
1800px + - big desktops

*/
.about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
@media (max-width: 900px) {
  .about {
    padding: 25rem 0 20rem 0;
  }
}
@media (max-width: 600px) {
  .about {
    margin-bottom: 36rem;
  }
}

.features {
  padding: 14rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.75), rgba(40, 180, 133, 0.75)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
}
.features > * {
  transform: skewY(7deg);
}

.tours {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem 0;
  margin-top: -15vh;
}

.feedbacks {
  min-height: 80vh;
  background-color: transparent;
  padding: 10rem 0;
  position: relative;
}

.booking {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.booking-card {
  height: 90%;
  background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, rgba(255, 255, 255, 0) 55%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 900px) {
  .booking-card {
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 75%, rgba(255, 255, 255, 0) 75%), url(../img/nat-10.jpg);
  }
}
@media (max-width: 600px) {
  .booking-card {
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%), url(../img/nat-10.jpg);
  }
}
.booking-card__form {
  padding: 5rem;
  width: 60%;
  height: 100%;
}
@media (max-width: 900px) {
  .booking-card__form {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .booking-card__form {
    width: 100%;
    text-align: center;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  70% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }
  70% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (min-width: 1800px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777777;
  padding: 3rem;
  box-sizing: border-box;
}
@media (max-width: 900px) {
  body {
    padding: 1rem;
  }
}
@media (max-width: 600px) {
  body {
    padding: 0;
  }
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
}
@media (max-width: 600px) {
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
  }
}
@media (min-width: 1800px) {
  .heading-primary--main {
    display: block;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 4.5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation-name: moveInRight;
  animation-duration: 2s;
}
@media (max-width: 600px) {
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.3rem;
}
@media (max-width: 600px) {
  .heading-secondary {
    font-size: 2.5rem;
    padding: 0 2rem;
  }
}
@media (min-width: 1800px) {
  .heading-secondary {
    font-size: 3.5rem;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 1800px) {
  .heading-tertiary {
    font-size: 2.2rem;
  }
}

.paragraph {
  font-size: 1.6rem;
}
@media (min-width: 1800px) {
  .paragraph {
    font-size: 2rem;
  }
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}
@media (max-width: 600px) {
  .u-margin-bottom-big {
    margin-bottom: 4.5rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-padding-top-small {
  padding-top: 2rem;
}

.u-padding-top-medium {
  padding-top: 4rem;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  top: 5rem;
  right: 6rem;
  background-color: white;
  z-index: 30;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.navigation__icon {
  position: relative;
  top: 2.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  display: inline-block;
  width: 3.5rem;
  height: 0.2rem;
  background-color: #4b4b4b;
}
@media (max-width: 600px) {
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    height: 0.4rem;
  }
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: 0.2s;
}
.navigation__icon::before {
  top: -1rem;
}
.navigation__icon::after {
  top: 1rem;
}
.navigation__background {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  top: 5rem;
  right: 7rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 10;
  transform: scale(0);
  transition: 1s;
}
.navigation__menu {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  opacity: 0;
  transition: opacity 1s;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 3rem 0;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(150deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  transition: 0.8s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #28b485;
  transform: translateX(3rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
}
.navigation__checkbox:checked ~ .navigation__menu {
  width: 100%;
  opacity: 1;
}
.navigation__button:hover .navigation__icon::before {
  top: -0.7rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 0.7rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-45deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(45deg);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.75), rgba(40, 180, 133, 0.75)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }
}
@media (min-resolution: 192dpi) and (min-width: 600px), (min-device-pixel-ratio: 2) and (min-width: 600px), (min-width: 2000px) {
  .header {
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.75), rgba(40, 180, 133, 0.75)), url("../img/hero.jpg");
  }
}
@media (max-width: 900px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
@media (max-width: 600px) {
  .header {
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
  }
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.flex {
  max-width: 114rem;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 1800px) {
  .flex {
    max-width: 140rem;
  }
}
@media (max-width: 900px) {
  .flex {
    flex-wrap: wrap;
  }
}
.flex-block {
  display: flex;
}
.flex-block-column {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-center-justify {
  justify-content: center;
}
.flex-align-content-space-btw {
  align-content: space-between;
}
.flex-space-evenly {
  justify-content: space-evenly;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-no-grow {
  flex-grow: 0;
}
.flex-col-1 {
  flex-basis: 90%;
}
.flex-col-2 {
  flex-basis: 43%;
}
@media (max-width: 600px) {
  .flex-col-2 {
    flex-basis: 90%;
  }
}
.flex-col-3 {
  flex-basis: 29%;
}
@media (max-width: 900px) {
  .flex-col-3 {
    flex-basis: 90%;
    margin: 2rem 0;
  }
}
.flex-col-4 {
  flex-basis: 21%;
}
@media (max-width: 900px) {
  .flex-col-4 {
    flex-basis: 43%;
    margin: 2rem 0;
  }
}
.flex-col-3-in-4 {
  flex-basis: 75%;
}

.footer {
  background-color: #4b4b4b;
  font-size: 1.6rem;
  padding: 10rem 0;
  min-height: 45vh;
}
.footer__logo-wrapper {
  text-align: center;
  margin-bottom: 5rem;
}
.footer__logo {
  width: 10rem;
  height: auto;
}
.footer__navigation {
  text-align: start;
  border-top: 1px solid #c0bdbd;
  padding-top: 2rem;
  margin-right: 4rem;
}
@media (max-width: 600px) {
  .footer__navigation {
    margin-right: 0;
    padding: 3rem 2rem 2rem 2rem;
  }
}
.footer__list {
  list-style: none;
  text-align: center;
}
.footer__item:not(:last-child) {
  margin-right: 1.3rem;
}
.footer__link:link, .footer__link:visited {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
  display: inline-block;
  padding: 0 0.5rem;
}
.footer__link:hover, .footer__link:active {
  color: #54c47a;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}
.footer__copyright {
  text-align: justify;
  border-top: 1px solid #c0bdbd;
  padding-top: 2rem;
}
@media (max-width: 600px) {
  .footer__copyright {
    padding: 3rem 2rem 0 2rem;
  }
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.4s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.6s;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--white {
  background-color: white;
  color: #777777;
}
.btn--white::after {
  background-color: white;
}
.btn--green {
  background-color: #28b485;
  color: white;
}
.btn--green::after {
  background-color: #54c47a;
}
.btn--animated {
  animation: moveInBottom 1s 0.7s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  font-weight: 700;
  display: inline-block;
  color: #54c47a;
  text-decoration: none;
  border: 0.2rem solid #54c47a;
  padding: 0.4rem;
  transition: all 0.6s;
  box-shadow: 1rem 1rem rgba(0, 0, 0, 0.15);
}
.btn-text:hover {
  background-color: #54c47a;
  color: white;
  transform: translate(0.4rem, 0.4rem);
  box-shadow: 0.6rem 0.6rem rgba(0, 0, 0, 0.3);
}
.btn-text:active {
  transform: translate(0.4rem, 0.4rem);
  box-shadow: 0.6rem 0.6rem rgba(0, 0, 0, 0.3);
}

.about__composition {
  position: relative;
}
.about__composition__photo {
  position: absolute;
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  z-index: 0;
  outline-offset: 2rem;
}
.about__composition__photo--p1 {
  left: 0;
  top: 2rem;
}
.about__composition__photo--p2 {
  right: 0;
  top: 5rem;
}
.about__composition__photo--p3 {
  left: 20%;
  top: 16rem;
}
.about__composition__photo:hover {
  outline: 1.5rem solid #54c47a;
  transform: scale(1.1);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.about__composition:hover .about__composition__photo:not(:hover) {
  transform: scale(0.9);
}

.feature-card {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.3rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}
.feature-card__icon {
  font-size: 6rem;
  font-weight: bold;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.feature-card:hover {
  transform: scale(1.1) translateY(-1.5rem);
}

.tour-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;
}
.tour-card__side {
  height: 45rem;
  transition: 2s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 6px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.tour-card__side--front {
  background-color: white;
}
.tour-card__side--back {
  transform: rotateY(180deg);
}
.tour-card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb429, #fd5d00);
}
.tour-card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.tour-card__side--back-3 {
  background-image: linear-gradient(to right bottom, #a7f5f8, #4b2cbd);
}
.tour-card:hover .tour-card__side--front {
  transform: rotateY(-180deg);
}
.tour-card:hover .tour-card__side--back {
  transform: rotateY(0);
}
.tour-card__picture {
  background-size: cover;
  background-blend-mode: screen;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.tour-card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb429, #fd5d00), url("../img/nat-5.jpg");
}
.tour-card__picture--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg");
}
.tour-card__picture--3 {
  background-image: linear-gradient(to right bottom, #a7f5f8, #4b2cbd), url("../img/nat-7.jpg");
}
.tour-card__header {
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 9rem;
  right: 2rem;
  text-align: right;
}
.tour-card__header-span {
  padding: 0.7rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.tour-card__header-span--1 {
  background-image: linear-gradient(to right bottom, #ffb429, #fd5d00);
}
.tour-card__header-span--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.tour-card__header-span--3 {
  background-image: linear-gradient(to right bottom, #a7f5f8, #4b2cbd);
}
.tour-card__details {
  padding: 3rem 0;
}
.tour-card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.tour-card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.tour-card__details ul li:not(:last-child) {
  border-bottom: 1px solid #f7f7f7;
}
.tour-card__action-back {
  text-align: center;
  height: 100%;
}
.tour-card__price-box {
  text-align: center;
  color: white;
}
.tour-card__price-only {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.tour-card__price-value {
  font-size: 5.5rem;
  font-weight: 300;
}
@media (max-width: 900px) {
  .tour-card {
    position: relative;
    height: 70rem;
    transform: none;
  }
  .tour-card:hover .tour-card__side--front {
    transform: none;
  }
  .tour-card:hover .tour-card__side--back {
    transform: none;
  }
  .tour-card__side {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  }
  .tour-card__side--back {
    height: 25rem;
    transform: rotateY(0);
  }
  .tour-card__header {
    font-size: 2.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 9rem;
    right: 2rem;
    text-align: right;
  }
  .tour-card__header-span {
    padding: 0.7rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  .tour-card__header-span--1 {
    background-image: linear-gradient(to right bottom, #ffb429, #fd5d00);
  }
  .tour-card__header-span--2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  }
  .tour-card__header-span--3 {
    background-image: linear-gradient(to right bottom, #a7f5f8, #4b2cbd);
  }
  .tour-card__details {
    padding: 3rem 0;
  }
  .tour-card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
  }
  .tour-card__details ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .tour-card__details ul li:not(:last-child) {
    border-bottom: 1px solid #f7f7f7;
  }
}

.feedback-card {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 5rem;
  margin: 0 20rem 2rem 20rem;
  font-size: 1.5rem;
  text-align: justify;
  transform: skew(-15deg);
}
@media (max-width: 900px) {
  .feedback-card {
    margin: 0 12rem 3rem 12rem;
  }
}
@media (max-width: 600px) {
  .feedback-card {
    transform: skew(0deg);
  }
}
.feedback-card > * {
  transform: skew(15deg);
}
@media (max-width: 600px) {
  .feedback-card > * {
    transform: skew(0deg);
  }
}
.feedback-card__shape {
  width: 15rem;
  height: 15rem;
  margin: 3rem 3rem 0 0;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: relative;
}
.feedback-card__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.3);
  transition: 1s;
}
.feedback-card__caption {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
  opacity: 0;
  transition: 0.6s;
}
.feedback-card:hover .feedback-card__caption {
  opacity: 1;
}
.feedback-card:hover .feedback-card__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px);
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
}
.background-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 3rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid transparent;
  width: 70%;
  transition: 0.5s;
}
.form__input:focus {
  outline: none;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid #28b485;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #fd5d00;
}
.form__input::-webkit-input-placeholder {
  color: #c0bdbd;
}
.form__label {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: 0.8s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__radio-group {
  width: 60%;
}
@media (max-width: 600px) {
  .form__radio-group {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 300px) {
  .form__radio-group {
    width: 100%;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
}
.form__radio-button {
  width: 3rem;
  height: 3rem;
  border: 3px solid #28b485;
  border-radius: 50%;
  position: relative;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #28b485;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s;
}
.form__radio-input:checked + .form__radio-button::after {
  opacity: 1;
  color: red;
}

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(75, 75, 75, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(75, 75, 75, 0.2);
  }
}
.popup__wrapper {
  background-color: white;
  max-height: 60vh;
  border-radius: 3px;
  display: table;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transform: scale(0.2);
  transition: all 0.8s 0.2s ease-in-out;
}
@media (max-width: 900px) {
  .popup__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
  }
}
@media (max-width: 600px) {
  .popup__wrapper {
    min-height: 45vh;
  }
}
.popup__left {
  display: table-cell;
  width: 35%;
}
@media (max-width: 1200px) {
  .popup__left {
    width: auto;
  }
}
@media (max-width: 900px) {
  .popup__left {
    width: 50%;
    display: flex;
  }
}
.popup__right {
  width: 66.66%;
  display: table-cell;
  vertical-align: middle;
  padding: 0 4rem;
  transition: all 0.4s;
}
@media (max-width: 1200px) {
  .popup__right {
    width: auto;
  }
}
.popup__img {
  display: block;
  width: 100%;
  height: auto;
}
.popup__text {
  font-size: 1.4rem;
  text-align: justify;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 2px solid #f7f7f7;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
@media (max-width: 1200px) {
  .popup__text {
    column-count: 1;
  }
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__wrapper {
  opacity: 1;
  transform: scale(1);
}
.popup__close:visited, .popup__close:link {
  font-size: 4rem;
  color: #4b4b4b;
  position: absolute;
  top: 1rem;
  right: 4rem;
  text-decoration: none;
  display: inline-block;
}
.popup__close:hover {
  color: #fd5d00;
}

/*# sourceMappingURL=main.css.map */
