// Light green: #7ed56f
// Medium green: #55c57a
// Dark green: #28b485

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

@import 'mixins';
@import 'placeholders';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba(126, 213, 111, 0.75),
      rgba(40, 180, 133, 0.75)
    ),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
    .logo {
      height: 35px;
    }
  }

  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    &-main {
      @include heading(block, 60px, 400, 35px);
    }
    &-sub {
      @include heading(block, 20px, 700, 17.4px);
    }
  }
}
